body {
  background-color: #f9f9f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left; /* Changed to left-align text within the container */
}

#chat {
  overflow-y: auto;
  max-height: 500px; /* Increased for better viewing */
  background-color: #f0f2f5; /* Lighter background for chat area */
  border-radius: 10px; /* Rounded corners for chat box */
  padding: 15px; /* Padding inside chat box for spacing */
}

li {
  display: block; /* Stack messages vertically for clarity */
  margin-bottom: 15px; /* Increased space between messages */
}

.user-message, .other-message {
  max-width: 70%; /* Increased width for longer texts */
  word-wrap: break-word; /* Ensure long words wrap */
  margin: 5px;
  padding: 10px 15px; /* Increased padding for bubble look */
  border-radius: 20px; /* More pronounced rounded corners for bubbles */
  color: #333; /* Darker text color for better readability */
}

.user-message {
  background-color: #dcf8c6; /* Light green background for user's messages */
  margin-left: auto; /* Align user messages to the right */
  text-align: left; /* Text aligned left within the message bubble */
}

.other-message {
  background-color: #ebebeb; /* Light grey for other messages */
  margin-right: auto; /* Align other messages to the left */
  text-align: left; /* Text aligned left within the message bubble */
}

.qr-code {
  display: inline-block; /* Display QR codes inline with messages */
  margin-top: 10px; /* Space between message and QR code */
  float: right; /* Align QR code to the right */
  clear: both; /* Avoid overlap with subsequent elements */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Additional styles for UI elements */
#username-form, #message-input {
  margin-top: 20px; /* Spacing above the form */
}

#message-input {
  display: flex; /* Flex display for input group */
  border-radius: 20px; /* Rounded corners for input box */
  overflow: hidden; /* Ensure the rounded corners clip content */
}

#message {
  border: 0; /* Remove border */
  padding-left: 15px; /* Padding inside input */
  flex-grow: 1; /* Allow input to expand to fill space */
}

#send {
  background-color: #007bff; /* Bootstrap primary color */
  color: white; /* White text on buttons */
  border: 0; /* Remove border */
  padding: 0.375rem 0.75rem; /* Padding to match Bootstrap's style */
}

/* Modal customizations */
#usernameModal .modal-content {
  border-radius: 20px; /* Rounded corners for modal */
}

#usernameModalLabel {
  text-align: center; /* Center modal title */
}

.input-group-append {
  background-color: #007bff; /* Match send button color */
  border-radius: 0 20px 20px 0; /* Rounded corners on the right side */
}
