@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
/* Custom CSS for styling */

::-webkit-scrollbar {
  width: 8px; 
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: gray; 
  border-radius: 6px;
  cursor: pointer;
}

body {
  background-image: #f9f9f9;
  font-family: "Jersey 15", sans-serif;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom , rgba(0, 34, 255, 0.77), rgba(0, 51, 255, 0.485)), url('/static/QRBack.jpg') ;
  background-size: cover; 
  background-position: center;
}

.container {
  max-width: 800px; 
  width: 88%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 28px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.408);
  text-align: center;
}

.container h1{
  color: blue;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Jersey 15", sans-serif;
  letter-spacing: 3px;
}

#open-modal{
  padding: 5px 12px;
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 3px;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}

.btn:hover{
  transform: scale(1.04);
}

#chat {
  overflow-y: auto; 
  height: 400px;
  background: #fff;
  border: 0.8px solid gray;
  padding: 0px 0px;
}

#messages{
  min-height: 95%;
  max-height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}

li {
  display: flex; 
  align-items: center; 

}

.user-message, .other-message {
  max-width: 75%;
  overflow: hidden; 
  word-wrap: break-word;
  margin: 12px 0px; 
  padding: 5px 10px; 
  border-top-right-radius: 0.5em; 
  border-bottom-right-radius: 0.5em;
  box-shadow: 1px 2px 5px rgba(9, 9, 9, 0.353);
  background-color: #fff; 
  font-family: "Jersey 15", sans-serif;
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-message {
  border-left: 3px solid blue;
  color: blue;
}

.other-message {
  border-left: 3px solid #666363;
  color: #666363;
}

.qr-code {
  width: fit-content;
  padding: 5px 10px;
  margin-top: 12px;
  border-top-right-radius: 0.5em; 
  border-bottom-right-radius: 0.5em;
  border-left: 3px solid blue;
  box-shadow: 1px 2px 5px rgba(9, 9, 9, 0.353);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#username-form, #message-input {
  margin-top: 20px;
}

#message-input, #voice-message-input {
  border-radius: 10px;
}

#message-input{
  display: flex;
  gap: 5px;
}

#message, #start-recording, #stop-recording {
  border: 0;
  padding-left: 15px;
  flex-grow: 1;
}

#send, #start-recording, #stop-recording {
  border-radius: 10px;
  color: white;
  font-size: x-large;
  text-transform: uppercase;
}

#start-recording {
  background-color: #007bff; 
  transition: transform ease-in-out 0.4s;
}

#stop-recording {
  background-color: blue;
  transition: transform ease-in-out 0.4s;
}

#start-recording:hover, #stop-recording:hover{
  transform: scale(1.015);
}

#usernameModal{
  background-color: rgba(0, 94, 255, 0.299);
}

#usernameModal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(251, 249, 249, 0.819);
}

.modal-content h5{
  color: blue;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.modal-content input{
  width: 94%;
  font-size: x-large;
  padding: 0 10px;
  color: #666363;
  font-weight: 200;
  border-radius: 5px;
  border: solid 1px gray;
}

.modal-content input:focus{
  outline: none;
}

.modal-footer{
  display: flex;
  gap: 5px;
}

.modal-footer button{
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  transition: transform ease-in-out 0.3s;
}

#join{
  background-color: blue;
}

#message-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#message-input input{
  width: 90%;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 0 10px;
  color: #666363;
  font-weight: 200;
  border-radius: 5px;
  border: solid 1px gray;
}
#message-input input:focus{
  outline: none;
}

#send{
  padding: 1.5px 8px;
  background-color: blue;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 3px;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}

#send:hover{
  transform: scale(1.02);
}