@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
/* Custom CSS for styling */

::-webkit-scrollbar {
  width: 8px; 
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: gray; 
  border-radius: 6px;
  cursor: pointer;
}

body {
  background-image: #f9f9f9;
  font-family: "Jersey 15", sans-serif;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom , rgba(0, 34, 255, 0.77), rgba(0, 51, 255, 0.485)), url('/static/QRBack.jpg') ;
  background-size: cover; 
  background-position: center;
}

.container {
  max-width: 800px; /* Increased width to accommodate QR codes */
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.408);
  text-align: center;
}

.container h1{
  color: blue;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Jersey 15", sans-serif;
  letter-spacing: 3px;
}

#open-modal{
  padding: 5px 12px;
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 3px;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}

.btn:hover{
  transform: scale(1.04);
}

#chat {
  overflow-y: auto; /* Ensure chat is scrollable */
  max-height: 400px; /* Limit chat height with maximum height */
}

li {
  display: flex; /* Use flexbox for better alignment of messages and QR codes */
  align-items: center; /* Align items vertically */
  justify-content: flex-end; /* Align items to the right */
  margin-bottom: 10px; /* Add some space between messages */
}

.user-message, .other-message {
  max-width: 60%; /* Limit message width */
  word-wrap: break-word; /* Ensure long words do not overflow */
  margin: 5px 10px; /* Adjust margin for spacing */
  padding: 5px 10px; /* Padding inside message bubbles */
  border-radius: 0.5em; /* Rounded corners for message bubbles */
  color: #fff; /* Text color */
}

.user-message {
  background-color: #17A2B8; /* User message color */
  order: 1; /* Ensure message is on the right */
}

.other-message {
  background-color: #007BFF; /* Other message color */
  order: -1; /* Ensure message is on the left */
}

.qr-code {
  margin-left: 10px; /* Space between message and its QR code */
  order: 2; /* Ensure QR code appears to the right of the message */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#username-form, #message-input {
  margin-top: 20px;
}

#message-input, #voice-message-input {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

#message, #start-recording, #stop-recording {
  border: 0;
  padding-left: 15px;
  flex-grow: 1;
}

#send, #start-recording, #stop-recording {
  background-color: #007bff;
  color: white;
  border: 0;
  padding: 0.375rem 0.75rem;
}

#start-recording {
  background-color: #ffc107; /* Bootstrap warning color for start button */
}

#stop-recording {
  background-color: #dc3545; /* Bootstrap danger color for stop button */
}

#usernameModal{
  background-color: rgba(0, 94, 255, 0.299);
}

#usernameModal .modal-content {
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(251, 249, 249, 0.819);
}

#usernameModalLabel {
  text-align: center;
}

.input-group-append {
  background-color: #007bff;
  border-radius: 0 20px 20px 0;
}

#message-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#message-input input{
  width: 90%;
  font-family: "Jersey 15", sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 0 10px;
  color: #666363;
  font-weight: 200;
  border-radius: 5px;
  border: solid 1px gray;
}
#message-input input:focus{
  outline: none;
}

#send{
  padding: 1.5px 8px;
  height: 100%;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: "Jersey 15", sans-serif;
  letter-spacing: 3px;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}

#send:hover{
  transform: scale(1.02);
}